#board {
  border-collapse: collapse;
}

#board td {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

#board .white-stone {
  background-color: bisque;
  border-radius: 50%;
}

#board .black-stone {
  background-color: #000;
  border-radius: 50%;
}

#resetButton {
  display: none;
  margin-top: 10px;
}

#alertMessage {
  display: none;
  margin-top: 10px;
  font-weight: bold;
}